a2wsgi==1.10.10
appdirs==1.4.4
asn1tools==0.167.0
bitstruct==8.21.0
blinker==1.9.0
click==8.3.0
Flask==3.1.2
flask-cors==6.0.1
flatdict==4.0.1
h11==0.16.0
itsdangerous==2.2.0
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
packaging==25.0
psutil==7.0.0
psutils==3.3.9
puremagic==1.28
pynmeagps==1.0.55
pyparsing==3.2.5
pypdf==5.4.0
pyserial==3.5
pyshark==0.6
pyv2x @ https://github.com/EdoardoTorrini/pyv2x/releases/download/pyv2x-v1.2.3-beta/pyv2x-1.2.3-py3-none-any.whl#sha256=b1a192887044f93804bca153da75535b0f67fe3d899f4a46a5261226f15b106d
PyYAML==6.0.3
scapy==2.6.1
termcolor==3.2.0
typeguard==4.4.4
typing_extensions==4.15.0
uvicorn==0.38.0
Werkzeug==3.1.3
